page {
  color: #444;
}

.container {
  box-sizing: border-box;
}

.banner {
  height: 375px;
  .slide-image {
    width: 750px;
    height: 375px;
  }
}

.classify {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .classify-item {
    padding: 20px 0;
    flex-grow: 1;
    text-align: center;

    .item-icon {
      width: 80px;
      height: 80px;
    }

    .item-title {
      margin-top: 10px;
      font-size: 24px;
      text-align: center;
    }
  }
}

.divider-line {
  height: 14px;
  background: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(245, 245, 245);
}

.multi-cell {
  padding: 4px 0;
  background: #fff;

  .cell-item {
    width: 373px;

    .item-img {
      width: 100%;
      vertical-align: top;
    }

    &:nth-child(1) {
      float: left;

      .item-img {
        height: 530px;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      float: right;

      .item-img {
        height: 260px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 10px;
    }
  }
}

.programa-banner {
  width: 750px;
  padding: 0;

  .banner-img {
    width: 100%;
  }
}

.programa-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .list-item {
    margin-top: 4px;
    width: 372px;

    .item-img {
      width: 100%;
      height: 372px;
    }

    .item-info {
      padding: 24px;
    }

    .info-title {
      font-size: 30px;
    }

    .info-dec {
      margin: 10px 0 10px 0;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.54);
    }

    .info-price {
      display: flex;
      align-items: flex-end;
    }

    .price-current {
      font-size: 30px;
      color: #ea625b;
    }
    .price-dec {
      margin: 0 4px 0;
      color: #ea625b;
    }
    .price-old {
      text-decoration: line-through;
      color: rgba(0,0,0,.54);
    }

    .price-dec,
    .price-old {
      font-size: 24px;
    }
  }
}
